@{
    ViewData["Title"] = "Dashboard";
}

<div class="min-vh-75 d-flex align-items-center">
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-2 p-3 border shadow rounded text-center me-4">
            <a class="text-reset nav-link" asp-area="" asp-controller="Dashboard" asp-action="AddProduct">
                <h5 class="mb-3">Productos</h5>
                <i class="bi bi-list-task scale"></i>
                <p class="my-1">Catalogo de productos</p>
            </a>
        </div>
        <div class="col-2 p-3 border shadow rounded text-center">
            <a class="text-reset nav-link" asp-area="" asp-controller="Dashboard" asp-action="AddSeller">
                <h5 class="mb-3">Vendedores</h5>
                <i class="bi bi-cart scale"></i>
                <p class="my-1">Catalogo de vendedores</p>
            </a>
        </div>
    </div>
</div>