.min-vh-75[b-yymq639hk5] { min-height: 80vh; }
.form-label[b-yymq639hk5], .seller-container[b-yymq639hk5] { font-size: 13px !important; }
.seller-container[b-yymq639hk5] {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}