.info-product[b-kvyeckvcsj] {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}
p[b-kvyeckvcsj], span[b-kvyeckvcsj], label[b-kvyeckvcsj], .text-danger[b-kvyeckvcsj] { font-size: 13px !important; }