.info-seller[b-8vmkqikgdm] {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
p[b-8vmkqikgdm], span[b-8vmkqikgdm], label[b-8vmkqikgdm], .text-danger[b-8vmkqikgdm] { font-size: 13px !important; }