p, span, label, a { font-size: 13px !important; }
.search-bar { width: 500px; }
.item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

@media (min-width: 1400px) {
    .item-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}