@model List<Category>
@{
    ViewData["Title"] = "Catalogue";
}

<div class="min-vh-75 d-flex align-items-center px-4 py-3">
    <div class="row w-100 d-flex justify-content-center align-items-center">
        @foreach(var cat in Model)
        {
            <div class="col-2 p-2 d-flex align-items-center item-card rounded text-center text-white me-4">
                <a class="text-reset nav-link" asp-area="" asp-controller="Home" asp-route-id="@cat.Id" asp-action="CategoryData">
                    <h5 class="mb-3">@cat.Name</h5>
                    <p class="my-1">Productos: @cat.Products</p>
                </a>
            </div>
        }
    </div>
</div>