/* _content/Ecommerce/Views/Dashboard/AddProduct.cshtml.rz.scp.css */
.min-vh-75[b-xe2gns09op] { min-height: 80vh; }
.form-label[b-xe2gns09op], .product-container[b-xe2gns09op] { font-size: 13px !important; }
.product-container[b-xe2gns09op] {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
/* _content/Ecommerce/Views/Dashboard/AddSeller.cshtml.rz.scp.css */
.min-vh-75[b-yymq639hk5] { min-height: 80vh; }
.form-label[b-yymq639hk5], .seller-container[b-yymq639hk5] { font-size: 13px !important; }
.seller-container[b-yymq639hk5] {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
/* _content/Ecommerce/Views/Dashboard/index.cshtml.rz.scp.css */
.min-vh-75[b-1vj04yivsb] { min-height: 75vh; }
p[b-1vj04yivsb] { font-size: 13px !important; }
.scale[b-1vj04yivsb] { font-size: 30px; }
/* _content/Ecommerce/Views/Home/Category.cshtml.rz.scp.css */
.min-vh-75[b-qypo3yq99v] { min-height: 75vh; }
p[b-qypo3yq99v] { font-size: 13px !important; }
.scale[b-qypo3yq99v] { font-size: 30px; }
/* _content/Ecommerce/Views/Home/CategoryData.cshtml.rz.scp.css */
p[b-1tkc4qp5u7] { font-size: 13px !important; }
/* _content/Ecommerce/Views/Home/Products.cshtml.rz.scp.css */
p[b-esnh9uebqn], span[b-esnh9uebqn], label[b-esnh9uebqn] { font-size: 13px; }
.search-bar[b-esnh9uebqn] { width: 400px; }
/* _content/Ecommerce/Views/Home/SearchData.cshtml.rz.scp.css */
p[b-lg1biscqum] { font-size: 13px; }
/* _content/Ecommerce/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jnmo08unka] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jnmo08unka] {
  color: #0077cc;
}

.btn-primary[b-jnmo08unka] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jnmo08unka], .nav-pills .show > .nav-link[b-jnmo08unka] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jnmo08unka] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jnmo08unka] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jnmo08unka] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jnmo08unka] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jnmo08unka] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
